*{
    margin: 0%;
    padding: 0%;
}

:root{
    --grey : rgb(160, 160, 160);
    --darkgrey : rgb(43, 43, 43);
    --white : white;
    --beige : rgb(177, 159, 137) ;
    --brown : rgb(139, 112, 78);
}

body{
    background-color: rgba(187, 155, 87, 0.288);
}

header{
    width: 100%;
    padding: 40px 0px;
    display: flex;
    justify-content: space-between;
    background-color: var(--brown);
}

.topnav a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}

.topnav a:hover {
    background-color: var(--beige);
    color: var(--white);
  }

.topnav a.active{
    background-color: #04AA6D;
    color: white;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 10px;
    align-content: center;
    font-family: Oswald;
    
}

#logo{
    height: 60px;
    padding: 0px 40px;
}





